In [133]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point, Polygon

In [92]:
congress_gdf = gpd.read_file('2021_Final_Approved_Congressional_Plan.zip')

congress_gdf

,LONGNAME,SHORTNAME,DISTRICT,COLOR,TOTAL,TARGET_DEV,TOTALHISP,TOTALNH,WHITENH,BLACKNH,AIANNH,ASIANNH,HPINH,OTHERNH,MLTMNNH,LEGCOMMDIF,geometry
0,District 1,D1,1,1321400960,721714,0,200616,521098,392965,67478,9289,35543,1769,9147,4907,-0.5707,"POLYGON ((-104.91282 39.67847, -104.91280 39.6..."
1,District 2,D2,2,1808188544,721714,0,102700,619014,549129,10283,10445,34145,1067,11776,2169,-0.3428,"POLYGON ((-105.00796 40.00579, -105.00833 40.0..."
2,District 3,D3,3,-598507392,721714,0,185794,535920,481566,8774,22011,9141,996,11369,2063,0.0913,"POLYGON ((-106.50922 39.36230, -106.50238 39.3..."
3,District 4,D4,4,15382912,721715,1,98443,623272,546774,16541,12630,33096,1170,10283,2778,0.2659,"POLYGON ((-104.66064 39.56592, -104.66022 39.5..."
4,District 5,D5,5,-125815155,721714,0,129138,592576,473462,50531,15055,31797,3776,10964,6991,0.2022,"POLYGON ((-105.07254 38.80841, -105.07238 38.8..."
5,District 6,D6,6,1326997120,721715,1,159407,562308,402961,80407,9802,51398,2328,9805,5607,-0.1517,"POLYGON ((-104.76285 39.80016, -104.76284 39.8..."
6,District 7,D7,7,59902592,721714,0,109185,612529,540492,13088,14336,29421,1074,11913,2205,-0.0684,"POLYGON ((-105.05328 39.82003, -105.05325 39.8..."
7,District 8,D8,8,-710280832,721714,0,278107,443607,373314,16519,12058,29288,1181,8725,2522,-0.0133,"POLYGON ((-104.90730 40.40722, -104.90730 40.4..."

In [93]:
#congress_gdf.to_crs( "epsg:26910",inplace=True)
# transform to EPSG:26910
congress_gdf_utm10 = congress_gdf.to_crs("epsg:26910")

In [94]:
congress_gdf_utm10.head()

,LONGNAME,SHORTNAME,DISTRICT,COLOR,TOTAL,TARGET_DEV,TOTALHISP,TOTALNH,WHITENH,BLACKNH,AIANNH,ASIANNH,HPINH,OTHERNH,MLTMNNH,LEGCOMMDIF,geometry
0,District 1,D1,1,1321400960,721714,0,200616,521098,392965,67478,9289,35543,1769,9147,4907,-0.5707,"POLYGON ((2055623.991 4551766.170, 2055625.893..."
1,District 2,D2,2,1808188544,721714,0,102700,619014,549129,10283,10445,34145,1067,11776,2169,-0.3428,"POLYGON ((2039777.485 4586669.798, 2039746.172..."
2,District 3,D3,3,-598507392,721714,0,185794,535920,481566,8774,22011,9141,996,11369,2063,0.0913,"POLYGON ((1924333.827 4489001.003, 1924927.826..."
3,District 4,D4,4,15382912,721715,1,98443,623272,546774,16541,12630,33096,1170,10283,2778,0.2659,"POLYGON ((2080095.373 4543750.614, 2080131.416..."
4,District 5,D5,5,-125815155,721714,0,129138,592576,473462,50531,15055,31797,3776,10964,6991,0.2022,"POLYGON ((2061756.293 4451486.512, 2061709.088..."

<class 'geopandas.geoseries.GeoSeries'>

0    POINT (37.309 -107.788)
dtype: geometry

In [85]:
import pandas as pd
def point_to_df(lat, lon):


    mydict = {'Y': lat,
             'X': lon
             }
    df = pd.DataFrame()
    df = df.append(mydict, ignore_index=True)
    return df

In [129]:
lat = 37.209 
lon = -107.788
lat = 40.7392
lon = -105.9903
point_df = point_to_df(lat, lon)
point_df

/var/folders/0b/t65nvlc168zgm2grnbndvd840000gn/T/ipykernel_67832/279461835.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(mydict, ignore_index=True)

         Y         X
0  40.7392 -105.9903

In [130]:
# coerce it to a GeoDataFrame
point_gdf = gpd.GeoDataFrame(point_df, 
                               geometry=gpd.points_from_xy(point_df.X, point_df.Y))
# define its unprojected (EPSG:4326) CRS
point_gdf.crs = "epsg:4326"

# transform to EPSG:26910
point_gdf_utm10 = point_gdf.to_crs( "epsg:26910")
point_gdf_utm10

         Y         X                         geometry
0  40.7392 -105.9903  POINT (1939088.549 4651468.152)

In [115]:
for row in congress_gdf_utm10.iterrows():
    #print(row)
    point_in_district = point_gdf_utm10.within(row.geometry.squeeze())
    print(point_in_district)

AttributeError: 'tuple' object has no attribute 'geometry'

In [116]:
congress_gdf_utm10.head()

,LONGNAME,SHORTNAME,DISTRICT,COLOR,TOTAL,TARGET_DEV,TOTALHISP,TOTALNH,WHITENH,BLACKNH,AIANNH,ASIANNH,HPINH,OTHERNH,MLTMNNH,LEGCOMMDIF,geometry
0,District 1,D1,1,1321400960,721714,0,200616,521098,392965,67478,9289,35543,1769,9147,4907,-0.5707,"POLYGON ((2055623.991 4551766.170, 2055625.893..."
1,District 2,D2,2,1808188544,721714,0,102700,619014,549129,10283,10445,34145,1067,11776,2169,-0.3428,"POLYGON ((2039777.485 4586669.798, 2039746.172..."
2,District 3,D3,3,-598507392,721714,0,185794,535920,481566,8774,22011,9141,996,11369,2063,0.0913,"POLYGON ((1924333.827 4489001.003, 1924927.826..."
3,District 4,D4,4,15382912,721715,1,98443,623272,546774,16541,12630,33096,1170,10283,2778,0.2659,"POLYGON ((2080095.373 4543750.614, 2080131.416..."
4,District 5,D5,5,-125815155,721714,0,129138,592576,473462,50531,15055,31797,3776,10964,6991,0.2022,"POLYGON ((2061756.293 4451486.512, 2061709.088..."

In [112]:
point_in_district = point_gdf_utm10.within(congress_gdf_utm10.geometry.squeeze())

KeyError: 3

In [119]:
bools = congress_gdf_utm10.contains(point_gdf_utm10)
bools

/Users/marilynwaldman/opt/anaconda3/envs/colorado/lib/python3.8/site-packages/geopandas/base.py:31: UserWarning: The indices of the two GeoSeries are different.
  warn("The indices of the two GeoSeries are different.")

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [118]:
point_in_district

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [131]:
#https://stackoverflow.com/questions/62410871/how-do-i-test-if-point-is-in-polygon-multipolygon-with-geopandas-in-python
polygons_contains = gpd.sjoin(congress_gdf_utm10,point_gdf_utm10 , op='contains')

/Users/marilynwaldman/opt/anaconda3/envs/colorado/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3301: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  if await self.run_code(code, result, async_=asy):

In [132]:
polygons_contains

,LONGNAME,SHORTNAME,DISTRICT,COLOR,TOTAL,TARGET_DEV,TOTALHISP,TOTALNH,WHITENH,BLACKNH,AIANNH,ASIANNH,HPINH,OTHERNH,MLTMNNH,LEGCOMMDIF,geometry,index_right,Y,X
1,District 2,D2,2,1808188544,721714,0,102700,619014,549129,10283,10445,34145,1067,11776,2169,-0.3428,"POLYGON ((2039777.485 4586669.798, 2039746.172...",0,40.7392,-105.9903

In [134]:
polygons_contains['LONGNAME']

1    District 2
Name: LONGNAME, dtype: object

In [135]:
x = polygons_contains['LONGNAME']

In [136]:
x

1    District 2
Name: LONGNAME, dtype: object

In [137]:
print(type(x))

<class 'pandas.core.series.Series'>

In [138]:
list = x.tolist()

In [139]:
list

['District 2']